# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.min.js
*.min.css

# Environment & secrets
.env
.env.local
.env.*.local
*.key
*.pem

# CT doc
docs/specs/Evaluations(**).grist
docs/specs/Plan_de_charge_Certitrust_V11.xlsx

# IDE
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Temp / cache
.cache/
.parcel-cache/
*.tmp
*.bak
